{% extends "base/base.html" %}
{% block title %}inicio view{% endblock title %}

{%block content%}
texto de explicacion

aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
 
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<br>

{%endblock content%}