{% extends 'base/base.html' %}

{% block title %} Lista de Equipos
{% endblock title %}

{% block content %}


    <a href="{% url 'core:crearequipo' %}" class="btn btn-outline-success form-control">Crear un nuevo equipo</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for equipo in equipo %}
                <tr>
                    <td>{{ Equipos.id }}</td>
                    <td>{{ Equipos.Nombre }}</td>
                    <td><a href="{% url 'core:recequipo' Equipos.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actequipo' Equipos.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:delequipo' Equipos.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}
