{% extends "base/base.html" %}

{% block title %}
Detalles del equipo
{% endblock title %}


{% block content %}
<h1>Nombre: </h1>{{ object.Nombre }}
<br>
<h1>Ciudad: </h1>{{ object.Ciudad }}
  <a href="{% url 'core:listaequipo' %}">Regresar</a>
{% endblock content %}
