{% extends "base/base.html" %}

{% block title %}
Crear una cuidad
{% endblock title %}

{% block content %}
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-outline-success">Crear una ciudad</button>
        <a href="{% url 'core:listaciudad' %}" class="btn btn-outline-warning">Cancelar</a>
    </form>
{% endblock content %}