{% extends 'base/base.html' %}

{% block title %} LIST OF CITYS {% endblock title %}

{% block content %}


    <a href="{% url 'core:crearciudad' %}" class="btn btn-outline-success form-control">Crear nueva ciudad</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for ciudad in ciudad %}
                <tr>
                    <td>{{ Ciudades.id }}</td>
                    <td>{{ Ciudades.Nombre }}</td>
                    <td><a href="{% url 'core:recciudad' Ciudades.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actciudad' Ciudades.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:delciudad' Ciudades.id %}" class="btn btn-outline-danger">Borrar</a></td>

                </tr>
            {% endfor %}
        </tbody>
    </table>
   
   <br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

{% endblock content %}
