{% extends "base/base.html" %}

{% block title %}
Detalles de la ciudad
{% endblock title %}


{% block content %}
<h1>Nombre: </h1>{{ object.Nombre }}
<br>
<h1>ID: </h1>{{ object.id }}
  <a href="{% url 'core:listaciudad' %}">Regresar</a>
{% endblock content %}
