{% extends 'base/base.html' %}

{% block title %} 
Lista de estdios 
{% endblock title %}

{% block content %}


    <a href="{% url 'core:crearestadio' %}" class="btn btn-outline-success form-control">Nuevo estadio</a>
    <table class="table table-striped table-hover">
        <thead>
            <th>ID</th>
            <th>Nombre</th>
            <th></th>
            <th>Acciones</th>
            <th></th>

        </thead>
        <tbody>
            {% for estadio in estadio %}
                <tr>
                    <td>{{ Estadios.id }}</td>
                    <td>{{ Estadios.Nombre }}</td>
                    <td><a href="{% url 'core:recestadio' Estadios.id %}" class="btn btn-outline-info"> Detalles </a></td>
                    <td><a href="{% url 'core:actestadio' Estadios.id %}" class="btn btn-outline-warning"> Actualizar</a></td>
                    <td><a href="{% url 'core:destadio' Estadios.id %}" class="btn btn-outline-danger">Borrar</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
   
{% endblock content %}


