{% extends "base/base.html" %}

{% block title %}
  Detalles del estadio
{% endblock title %}


{% block content %}
<h1>Nombre: </h1>{{ object.Nombre }}
<br>
<h1>Equipo: </h1>{{ object.Equipos }}
  
  <a href="{% url 'core:listaestadio' %}">Voler</a>
{% endblock content %}
